/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}




/**

 * 1.0 Body

 * ------------------

 */



body { font-family: 'Roboto', sans-serif; 
background: url(../img/bg.png), #222; 
background-position: 50% 0;
background-repeat: no-repeat;
background-attachment: fixed;
-webkit-background-size: cover;
background-size: cover;
color: #f5f5f5; margin: 0 auto; padding:0; font-size:12pt; padding-top:20px; padding-bottom:20px; }



body a { font-family: 'Roboto', sans-serif; text-decoration:none; color:#808080; font-size:12pt; }



body a:hover { text-decoration:none; font-family: 'Roboto', sans-serif; color:#e90000; font-size:12pt; }



a:link { text-decoration:none; font-family: 'Roboto', sans-serif; }



a:visited { text-decoration:none; font-family: 'Roboto', sans-serif; }



a:hover { text-decoration:none; font-family: 'Roboto', sans-serif; }



a:active { text-decoration:none; font-family: 'Roboto', sans-serif; }





/**

 * 2.0 Headings

 * ------------------

 */



h1 { font-family: 'Roboto', sans-serif; font-size: 15pt; color:#f5f5f5; }



h2 { font-family: 'Roboto', sans-serif; font-size: 14pt; color:#f5f5f5; }



h3 { font-family: 'Roboto', sans-serif; font-size: 13pt; color:#f5f5f5; }



h4 { font-family: 'Roboto', sans-serif; font-size: 12pt; color:#f5f5f5; }



h5 { font-family: 'Roboto', sans-serif; font-size: 11pt; color:#f5f5f5; }



h6 { font-family: 'Roboto', sans-serif; font-size: 10pt; color:#f5f5f5 }





/**

 * 3.0 Layout - Container 1 is logo area, Container 2 is in footer, Container 3 is the navigation menu

 * ------------------

 */



#wrapper { font-family: 'Roboto', sans-serif; display: block; width:960px; margin:auto; background-color:#111111; padding: 0px 0px 0px 0px; clear: both; }



#wrapper a { font-family: 'Roboto', sans-serif; text-decoration:none; }



#header { text-align: center; margin: 0 auto; width: 960px; clear: both; }



#container { font-family: 'Roboto', sans-serif; text-align:center; width:960px; height: auto; overflow:hidden; clear: both; margin: 0 auto; padding: 10px 0px 10px 0px; }



#container2 { font-family: 'Roboto', sans-serif; text-align:center; width:960px; background-color:#000000;  clear: both;  border-top: 1px solid #050505; padding: 20px 0px 20px 0px; overflow:hidden; }



#container3 { font-family: 'Roboto', sans-serif; text-align:center; width:960px; background-color:#2d2d2d; margin: 0 auto; display:block;  padding: 0px 0px 0px 0px; }



#footer { text-align: center; margin: 0 auto; width: 960px; clear: both; padding-bottom:20px; }





/**

 * 4.0 Title and Logo

 * ------------------

 */



.site-title { font-family: 'Roboto', sans-serif; color: #ffffff; float:left; margin:0; font-size: 40pt; padding:0px 0px 0px 15px; max-width:100% !important; word-wrap: break-word; text-shadow: 2px 2px #000000; text-transform: none; }



.site-title a { font-family: 'Roboto', sans-serif; color: #ffffff; font-size: 40pt; max-width:100% !important; word-wrap: break-word; text-transform: none; }



.site-title a:hover { font-family: 'Roboto', sans-serif; color: #ffffff; font-size: 40pt; text-decoration:none; max-width:100% !important; word-wrap: break-word; text-transform: none; }



.site-description { font-family: 'Roboto', sans-serif; margin:0; font-size: 11pt; color:#ffffff; text-transform: none; padding:0px 0px 10px 10px; word-wrap: break-word; float:left; text-shadow: 1px 1px #111111; text-transform: none; }



.site-logo { float:left; margin:0; padding:0px 0px 0px 0px; }





/**

 * 5.0 Content area

 * ------------------

 */



#main { display:block; height: auto; font-family: 'Roboto', sans-serif; }



#content { font-family: 'Roboto', sans-serif; width:61%; margin:0; padding:20px 0px 0px 20px; float:left; background-color:#111111; color:#f5f5f5; font-size:12pt; word-wrap: break-word; }



#content-wide { font-family: 'Roboto', sans-serif; width:95%; margin:0 auto; padding:20px 20px 0px 20px; float:left; background-color:#111111; color:#f5f5f5; font-size:12pt; word-wrap: break-word; }



#content a { font-family: 'Roboto', sans-serif; text-decoration:none; }



#content a:hover { font-family: 'Roboto', sans-serif; text-decoration:none; }



.sticky { font-family: 'Roboto', sans-serif; text-decoration:none; margin: auto; padding: 5px 10px 5px 10px; border-width:1px; border-style:dotted; border-color:#353535; }



blockquote {

	margin: 1em 3em;

	padding: .5em;

        color: #f5f5f5;

	background-color: #1d1d1d;

        font-family: 'Roboto', sans-serif;

        border: none; outline:none; }



blockquote p {

	margin: 0;

        border: none; outline:none; }



#content iframe { max-width:585px !important; max-height: 300px !important; }



.post a {

  color: #808080;

  text-decoration: none;

  font-family: 'Roboto', sans-serif;

}



.post a:hover {

  color: #e90000;

  text-decoration:none;

  font-family: 'Roboto', sans-serif;

}



hr {

  border: 0;

  width: 80%;

  background-color: #2d2d2d;

  height: 2px;

}



.size-auto,

.size-full,

.size-large,

.size-medium,

.size-thumbnail {

	max-width: 100%;

	height: auto;

}



table,

th,

td { border: 1px solid #bbbbbb; }



table {	border-collapse: separate;

	border-spacing: 0;

	border-width: 1px 0 0 1px;

	margin-bottom: 20px;

	width: 100%; }



.post-navigation { display:block; padding: 20px 0px 0px 0px; }



.previous-post { float:left; word-wrap: break-word; font-family: 'Roboto', sans-serif; max-width:250px; padding:0; margin:0; }



.next-post { float:right; word-wrap: break-word; font-family: 'Roboto', sans-serif; max-width:250px; padding:0; margin:0; }



.archivetek { background-color: #1d1d1d; font-size:11pt; padding:0px 0px 0px 5px; }





/**

 * 5.1 Content Post title

 * ------------------

 */



.post-title { font-weight:200; max-width:585px !important; height:auto; word-wrap: break-word; font-family: 'Roboto', sans-serif; text-transform: uppercase; }



.post-title a { font-family: 'Roboto', sans-serif; font-size: 17pt; color: #ffffff; text-transform: uppercase; }



.post-title a:hover { font-family: 'Roboto', sans-serif; font-size: 17pt; color: #ffffff; text-transform: uppercase; }



.post-date { font-family: 'Roboto', sans-serif; font-size: 10pt; color: #bbbbbb; }



.post-date a { font-family: 'Roboto', sans-serif; font-size: 10pt; color: #808080; }



.post-date a:hover { font-family: 'Roboto', sans-serif; font-size: 10pt; color: #e90000; }





/**

 * 5.2 Content Continue Reading text

 * ------------------

 */



.more-link { text-transform:none; text-decoration:none; float:right; background-color:#444444; color:#ffffff; width:90px; padding:1px 0px 1px 10px; }



.more-link a { text-transform:none; text-decoration:none; float:right; background-color:#444444; color:#ffffff; width:90px; padding:1px 0px 1px 10px; }



.more-link a:hover { text-transform:none; text-decoration:none; float:right; background-color:#ffffff; color:#444444; width:90px; padding:1px 0px 1px 10px; }



.comm-link { text-transform:none; text-decoration:none; float:left; padding:5px 0px 0px 0px; }





/**

 * 5.3 Content Comments, Categories, Tags area

 * ------------------

 */



.commentstext { text-decoration:none; clear: both; display: block; font-family: 'Roboto', sans-serif; font-size: 10pt; border-bottom: 1px solid #999999; padding-bottom: 10px; border-top: 1px solid #999999; padding-top: 10px; }



.commentstext a { text-decoration:none;  font-family: 'Roboto', sans-serif; font-size: 10pt; }



.commentstext a:hover { text-decoration:none;  font-family: 'Roboto', sans-serif; font-size: 10pt; }



.g-a-m-e-r-p-o-t-i-o-n { color: #f5f5f5; }



.bypostauthor { font-family: 'Roboto', sans-serif; text-decoration:none; }





/**

 * 5.4 Content Gallery, Captions and Post images

 * ------------------

 */



.gallery-caption { font-family: 'Roboto', sans-serif; text-decoration:none; color:#888888; }



a, img {

    border:none;

}



#content img {

    border:none;

    max-width:585px !important;

    height:auto;

}



#content img a {

    border:none;

    max-width:585px !important;

    height:auto;

}



pre, code { max-width:585px !important; height:auto; white-space: pre-wrap; word-wrap: break-word; font-family: 'Roboto', sans-serif; }



pre { margin: 1em 3em;

	padding: .5em;

        color: #f5f5f5;

	background-color: #1d1d1d; 

        font-family: 'Roboto', sans-serif;

        border: none; outline:none; }



.alignnone {

    margin: 10px 20px 5px 0;

    max-width:585px !important;

    height:auto;

}



.aligncenter,

div.aligncenter {

    display: block;

    margin: 5px auto 5px auto;

    max-width:585px !important;

    height:auto;

}



.alignright {

    float:right;

    margin: 5px 0 20px 20px;

    max-width:585px !important;

    height:auto;

}



.alignleft {

    float: left;

    display: block;

    margin: 5px 20px 20px 0;

    max-width:585px !important;

    height:auto;

}



.aligncenter {

    display: block;

    margin: 5px auto 5px auto;

    max-width:585px !important;

    height:auto;

}



a img.alignright {

    float: right;

    margin: 5px 0 20px 20px;

    max-width:585px !important;

    height:auto;

}



a img.alignnone {

    margin: 10px 20px 5px 0;

    max-width:585px !important;

    height:auto;

}



a img.alignleft {

    float: left;

    margin: 10px 20px 20px 0;

    max-width:585px !important;

    height:auto;

}



a img.aligncenter {

    display: block;

    margin-left: auto;

    margin-right: auto;

    max-width:585px !important;

    height:auto;

}



.wp-caption {

    max-width: 96%; /* Image does not overflow the content area */

    padding: 0px 0px 0px;

    text-align: center;

    font-family: 'Roboto', sans-serif;

    background-color:transparent;

    border-width:0px;

}



.wp-caption.alignnone {

    margin: 0px 0px 0px 0;

}



.wp-caption.alignleft {

    margin: 0px 10px 0px 0;

}



.gamerpotion { color: #f5f5f5; }



.wp-caption.alignright {

    margin: 0px 0 0px 10px;

}



.wp-caption img {

    border: none;

    height: auto;

    max-width:585px !important;

    height:auto;

}



.wp-caption p.wp-caption-text {

    font-size: 11px;

    line-height: 17px;

    margin: 0;

    padding: 0 0px 0px;

    color:#f5f5f5;

    font-family: 'Roboto', sans-serif;

}



.post img {

max-width:585px !important;

height:auto;

}





/**

 * 5.5 Author block - To hide this block in posts, add 'display:none;' to .authortek

 * ------------------

 */



.authortek {

background: #1d1d1d;

border: 1px solid #222222;

padding: 10px;

width:565px;

overflow:hidden;

color: #f5f5f5;

margin-bottom:20px;

}



.authortek h3 {

font-size: 15px;

color:#f5f5f5;

margin:0;

padding:5px 5px 5px 5px;

}



.authortek h3 a {

text-decoration:none;

color: #808080;

font-weight: bold;

}



.authortek img {

margin:0;

padding:5px;

float:left;

border: 1px solid #222222;

width: 80px;

height: 80px;

}



.authortek p {

color:#f5f5f5;

margin:0;

padding:0px 5px 5px 5px;

}



.authortek p a {

color:#808080;

}



.authortekinfo {

padding-left:120px;

}





/**

 * 6.0 Content Comments

 * ------------------

 */



#comment { font-family: 'Roboto', sans-serif; background-color: #f5f5f5; color:#141414; border-width:1px; border-color:#bbbbbb; border-style:solid; outline:none; width:470px; display:block; clear:both; padding:5px 5px 5px 5px; border-radius:10px; }



#author { font-family: 'Roboto', sans-serif; background-color: #f5f5f5; color:#141414; border-width:1px; border-color:#bbbbbb; border-style:solid; outline:none; width:470px; display:block; clear:both; padding:5px 5px 5px 5px; border-radius:10px; }



#email { font-family: 'Roboto', sans-serif; background-color: #f5f5f5; color:#141414; border-width:1px; border-color:#bbbbbb; border-style:solid; outline:none; width:470px; display:block; clear:both; padding:5px 5px 5px 5px; border-radius:10px; }



#url { font-family: 'Roboto', sans-serif; background-color: #f5f5f5; color:#141414; border-width:1px; border-color:#bbbbbb; border-style:solid; outline:none; width:470px; display:block; clear:both; padding:5px 5px 5px 5px; border-radius:10px; }



#comment #submit { text-decoration:none; color: #f5f5f5; background: #000000; border: none; font-family: 'Roboto', sans-serif; outline:none; }



#comment #submit:hover { text-decoration:none; color: #e90000; background: #000000; border: none; font-family: 'Roboto', sans-serif; outline:none; text-decoration:none; }



.reply { padding: 0px 0px 40px 0px; border: none; outline:none; }



.reply a { text-decoration:none; color: #f5f5f5; background: #1d1d1d; border: none; font-family: 'Roboto', sans-serif; outline:none; padding: 5px 10px 5px 10px; } 



.reply a:hover { text-decoration:none; color: #1d1d1d; background: #f5f5f5; border: none; font-family: 'Roboto', sans-serif; outline:none; padding: 5px 10px 5px 10px; }



#submit { text-decoration:none; color: #f5f5f5; background: #000000; border: none; font-family: 'Roboto', sans-serif; outline:none; padding: 5px 10px 5px 10px; }



#submit:hover { text-decoration:none; color: #e90000; background: #000000; border: none; font-family: 'Roboto', sans-serif; outline:none; padding: 5px 10px 5px 10px; text-decoration:none; } 





/**

 * 6.1 Content Comments text - Hides allowed text description under comments text box. Delete display:none to show.

 * ------------------

 */



.form-allowed-tags { font-family: 'Roboto', sans-serif; font-size:12pt; display:none; }





/**

 * 6.2 Content Comments numbers - Hides comment list numbers. Delete below section to show list numbers.

 * ------------------

 */



ol.comment-list {

	list-style-type:none;

	margin: 0;

}



ol.children {

	list-style-type:none;

	margin: 0;

}





/**

 * 7.0 Sidebars

 * ------------------

 */



#sidebar { font-family: 'Roboto', sans-serif; width: 32%; float: right; background-color:#111111; color:#f5f5f5; padding: 20px 20px 0px 10px; }



#sidebar ul li a { font-family: 'Roboto', sans-serif; text-decoration:none; font-size: 12pt; color:#808080; }



#sidebar ul li a:hover { font-family: 'Roboto', sans-serif; text-decoration:none; font-size: 12pt; color:#e90000; }



#sidebar ul { font-family: 'Roboto', sans-serif; text-decoration:none; clear:both; }



#sidebar li { font-family: 'Roboto', sans-serif; list-style-type: none;

        list-style-position:inside;

        margin:0;

        padding:0; word-wrap: break-word; border:none; }



#sidebar .menu li { font-family: 'Roboto', sans-serif; list-style-type: none; }



#sidebar ul .sub-menu { list-style-type: none; }



#sidebar li ul { list-style-type: none; padding-left:5px; }



#sidebar li ul li { list-style-type: none; }



#sidebar li ul .sub-menu { list-style-type: none; }



#sidebar ul .sub-menu li { list-style-type: none; }





/**

 * 7.1 Sidebar Widget titles

 * ------------------

 */



.sidebarhd { font-family: 'Roboto', sans-serif;

text-decoration:none;

text-transform: uppercase; 

margin-top:5px; margin-bottom:5px;

font-size: 12pt;

padding: 5px 0px 5px 5px;

background-color: #a90000;

color: #f5f5f5;

font-weight:400;

text-align:left; clear:both;

word-wrap: break-word; }



.sidebarhd a { font-family: 'Roboto', sans-serif; text-decoration:none; color: #f5f5f5; }



.sidebarhd a:hover { font-family: 'Roboto', sans-serif; text-decoration:none; color: #2d2d2d; }



sidebar.sidebarhd { width:100%; max-width:100% !important; height:auto; white-space: pre-wrap; word-wrap: break-word; }





/**

 * 7.2 Additional Sidebar items

 * ------------------

 */



.rsswidget { font-family: 'Roboto', sans-serif; text-decoration:none; color: #808080; }



.rssSummary { font-family: 'Roboto', sans-serif; text-decoration:none; color: #808080; word-wrap: break-word; margin: 0 auto; padding-right:20px; max-width:90% !important; }



.textwidget { font-family: 'Roboto', sans-serif; list-style: circle; padding: 0px 0px 5px 0px; max-width:100% !important; word-wrap: break-word; }



.textwidget iframe { max-width:100% !important; max-height: 100% !important; }



.textwidget img { max-width:100% !important; max-height: 100% !important; }



.textwidget img a { max-width:100% !important; max-height: 100% !important; }



.textwidget select { width:90%; max-width:98% !important; word-wrap: break-word; margin:0px 10px 0px 10px; padding:0; text-align: left; }



select { width:90%; max-width:98% !important; word-wrap: break-word; margin:10px 10px 20px 10px; padding:0; text-align: left; }



.tagcloud { font-family: 'Roboto', sans-serif; list-style: circle; padding: 0px 5px 0px 0px; }



#calendar_wrap table { margin: 0 auto; width:95%; padding:0; text-align: center; }



table#wp-calendar { margin:0 auto; }



#sidebar ul { list-style-type: none;

        list-style-position:inside;

        margin:0;

        padding:0;

        word-wrap: break-word; }



#sidebar li { list-style-type: none;

        list-style-position:inside;

        margin:0;

        padding:0;

        word-wrap: break-word; }



#sidebar ul li { list-style-type: none;

        list-style-position:inside;

        margin:0;

        padding:0;

        word-wrap: break-word; }





/**

 * 8.0 Footer Widgets

 * ------------------

 */



#footer-sidebar aside {

width: 30%;

display: inline-block;

vertical-align:top;

padding: 0px 0px 20px 0px;

margin: 0px 10px 0px 10px;

text-align:left;

clear:both;

}



#footer-sidebar li { list-style-type: none;

        list-style-position:inside;

        margin:0;

        padding:0;

        word-wrap: break-word; }



#footer-sidebar ul .sub-menu { list-style-type: none; }



#footer-sidebar li ul { list-style-type: none;

        padding-left:10px; }



#footer-sidebar li ul li { list-style-type: none; }



#footer-sidebar li ul .sub-menu { list-style-type: none; }



#footer-sidebar ul .sub-menu li { list-style-type: none; }



#footer-sidebar .tagcloud { font-family: 'Roboto', sans-serif; list-style: circle; padding: 10px 40px 10px 40px; }



li { word-wrap: break-word; }



ul li { word-wrap: break-word; }



#footer-sidebar .rsswidget { font-family: 'Roboto', sans-serif; text-decoration:none; color: #808080; }



#footer-sidebar .rssSummary { font-family: 'Roboto', sans-serif; text-decoration:none; color: #808080; word-wrap: break-word; margin: 0 auto; padding:0px 40px 0px 40px; max-width:90% !important; }



#footer-sidebar .textwidget { font-family: 'Roboto', sans-serif; list-style: circle; padding: 10px 40px 10px 40px; max-width:99% !important; word-wrap: break-word; }



#footer-sidebar .textwidget iframe { max-width:99% !important; max-height: 99% !important; padding: 10px 40px 10px 40px; }



#footer-sidebar .textwidget img { max-width:99% !important; max-height: 99% !important; }



#footer-sidebar .textwidget img a { max-width:99% !important; max-height: 99% !important; }



#footer-sidebar .textwidget select { width:80%; max-width:80% !important; word-wrap: break-word; }



#footer-sidebar select { width:80%; max-width:80% !important; word-wrap: break-word; margin:10px 40px 10px 40px; padding:0; text-align: left; float:left; }



#footer-sidebar .tagcloud { font-family: 'Roboto', sans-serif; list-style: circle; padding: 10px 40px 10px 40px; }



#footer-sidebar #calendar_wrap table { margin: 0 auto; width:95%; padding: 10px 40px 10px 40px; text-align: center; border:none; }



#footer-sidebar table#wp-calendar { margin:0 auto; }



#footer-sidebar #search { max-width:90%; padding: 10px 40px 10px 40px; }



#footer-sidebar #searchform { max-width:90%; padding: 10px 40px 10px 40px; }



#footer-sidebar #recentcomments { text-align:left; width:80%; }



#footer-sidebar .recentcomments { text-align:left; width:80%; }





/**

 * 8.1 Footer Widgets title

 * ------------------

 */



.sidebarhd2 { font-family: 'Roboto', sans-serif; 

text-decoration:none; margin:5px 0px 0px 40px; font-size: 14pt;

color: #a90000;

text-align:left;

font-weight:400;

word-wrap: break-word;

text-transform: uppercase; }



#footer-sidebar .sidebarhd { font-family: 'Roboto', sans-serif; 

text-decoration:none; margin:5px 0px 0px 40px; font-size: 14pt;

width: 250px;

background-color:#000000;

color: #a90000;

text-align:left;

font-weight:400;

word-wrap: break-word;

text-transform: uppercase; }





/**

 * 9.0 Delimiter for clearing both

 * ------------------

 */



.delimiter { clear: both; }



.breaker { padding-top:20px; padding-bottom:20px; clear:both; }



.linebreaker { border: 1px solid #999999; padding:0; margin-top:20px; margin-bottom:20px; clear:both; }





/**

 * 10.0 Pagination

 * ------------------

 */



.pagi { font-family: 'Roboto', sans-serif; color: #808080; text-transform: uppercase; }



.pagi a { font-family: 'Roboto', sans-serif; color: #808080; text-transform: uppercase; }



.pagi a:hover { font-family: 'Roboto', sans-serif; color:#e90000; text-transform: uppercase; }





/**

 * 11.0 Footer Copyright area

 * ------------------

 */



.footer-copyright { font-size:11pt; font-family: 'Roboto', sans-serif; color: #ffffff; float:left; clear:both; max-width:900px; word-wrap: break-word; margin: 0px 0px 0px 20px; }



.footer-copyright a { font-size:11pt; font-family: 'Roboto', sans-serif; color: #808080; clear:both; }



.footer-copyright a:hover { font-size:11pt; font-family: 'Roboto', sans-serif; color: #e90000; clear:both; }



.toplink a { font-size:10pt; font-family: 'Roboto', sans-serif; color: #f5f5f5; float:right; margin:0px 20px 0px 0px; font-weight:400; background-color: #a90000; border-radius:20px; padding: 1px 5px 1px 5px; }



.toplink a:hover { font-size:10pt; font-family: 'Roboto', sans-serif; color: #f5f5f5; float:right; margin:0px 20px 0px 0px; font-weight:400; background-color: #a90000; border-radius:20px; padding: 1px 5px 1px 5px; }





/**

 * 12.0 Search form

 * ------------------

 */



#search { float:right; width: 310px; height:auto; padding: 25px 20px 10px 0px; }



#searchsubmit { text-decoration:none; color: #f5f5f5; background: #2d2d2d; border: none; font-family: 'Roboto', sans-serif; outline:none; }



#searchform { text-align:center; font-family: 'Roboto', sans-serif; outline:none; }



#searchform input#s { font-family: 'Roboto', sans-serif; background-color: #ffffff; color:#808080; border-width:1px; border-color:#c3c3c3; border-style:solid; outline:none; width:95%; border-radius:10px; }



#s { padding:5px 5px 5px 5px; }





/**

 * 13.0 Navigation menu

 * ------------------

 */



.navtop { border-top: 2px solid #a90000; }



.navmenu { width: 960px; margin:0 auto; font-family: 'Roboto', sans-serif; font-size: 11pt; color: #ffffff; text-transform: uppercase; }



.navmenu ul { padding:0; margin:0 auto; line-height: 1; font-family: 'Roboto', sans-serif; font-size: 11pt; color: #ffffff; }



.navmenu ul li { padding:0; margin:0 auto; line-height: 1; font-family: 'Roboto', sans-serif; font-size: 11pt; color: #ffffff; }



.navmenu ul li a { padding:0; margin:0 auto; line-height: 1; font-family: 'Roboto', sans-serif; font-size: 11pt; color: #ffffff; }



.navmenu:before { content: ''; display: table; }



.navmenu:after { content: ''; display: table; }



.navmenu > ul:before { content: ''; display: table; }



.navmenu > ul:after { content: ''; display: table; }



.navmenu:after { clear: both; }



.navmenu > ul:after { clear: both; }



.navmenu ul { background: -webkit-linear-gradient(#2d2d2d, #000000); /* For Safari */

background: -o-linear-gradient(#2d2d2d, #000000); /* For Opera 11.1 to 12.0 */

background: -moz-linear-gradient(#2d2d2d, #000000); /* For Firefox 3.6 to 15 */

background: linear-gradient(#2d2d2d, #000000); /* Standard syntax */ }



.navmenu ul > li { float: left; list-style: none; }



.navmenu ul > li > a { display: block; text-decoration: none; padding: 15px 20px 15px 20px; position: relative; }



.navmenu ul > li > a:hover { color: #ffffff; background-color:#a90000; }



.navmenu ul > li > a:hover:before { content: ''; z-index: 2; position: absolute; border-top: 0; border-bottom: 0; border-right: 0; width: 100%; height: 100%; top: 0; left: -1px; }



.navmenu ul > li > a:hover:after { content: ''; z-index: 2; position: absolute; border-top: 0; border-bottom: 0; border-left: 0; width: 100%; height: 100%; top: 0; right: -1px; }



.navmenu > ul > li > ul { opacity: 0; visibility: hidden; position: absolute; }



.navmenu > ul > li:hover > ul { opacity: 1; visibility: visible; position: absolute; box-shadow: none; z-index: 2; }



.navmenu > ul > li > ul { width: 150px; position: absolute; text-align:left; }



.navmenu > ul > li > ul > li { float: none; position: relative; }



.navmenu > ul > li > ul > li > ul { opacity: 0; visibility: hidden; position: absolute; }



.navmenu > ul > li > ul > li:hover > ul { opacity: 1; visibility: visible; position: absolute; z-index: 2; }



.navmenu > ul > li > ul > li > ul { left: 150px; top: 0px; width: 150px; text-align:left; }



.navmenu > ul > li > ul > li > ul > li { float: none; }



.navmenu .current_page_item > a,

.navmenu .current_page_ancestor > a,

.navmenu .current-menu-item > a,

.navmenu .current-menu-ancestor > a {

	color: #ffffff; background-color: #a90000;

}





/**

 * 14.0 Media queries - Add more things here for mobile friendliness.

 * ------------------

 */




        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }